.cover {
  width: 100px;
  height: 100px;
}

.name {
  align-self: center;
  margin-left: 25px;
}

.albumsWrapper {
  margin-top: 100px;
  text-align: center;
}

.album {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: lightpink;
}

.title {
  font-size: 25px;
}
